# .prettierignore

# Ignore node modules and build directories (if any)
node_modules
build
dist

# Ignore Git directory
.git

# Ignore Github workflow directory
.github

# Ignore specific Markdown files (optional)
# path/to/ignore.md
