name: Telegram Notification Push

on:
  push:
    branches:
      - main

jobs:
  bulid:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: send message on push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.GROUP_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.actor }} created commit: 
            Commit message: ${{ github.event.commits[0].message }}

            https://github.com/${{ github.repository }}/commit/${{github.sha}}
